.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pera{
  background-color: red;
  padding: 10px;
  width: 1000px;
  margin: auto;
  text-align: left;
}

.menu{
  width: 80%;
  text-align: left;
  left: -100%;
  position: fixed;
  height: 100vh;
  background-color: yellow;
  transition: 0.5s;

}
.menu ul,li{
  list-style: none;
  padding: 10px 0px;
}
.micon{
  position: absolute;
  right: 10px;
}
.activemenu{
  left: 0px;
}